<!-- Simple Header-->
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <meta name="description" content="" />
    <!-- Website name-->
    <title>Wheel Wizard</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  </head>
  <body>
<!--Start of Tawk.to Script-->
<script type="text/javascript">
  var Tawk_API=Tawk_API||{}, Tawk_LoadStart=new Date();
  (function(){
  var s1=document.createElement("script"),s0=document.getElementsByTagName("script")[0];
  s1.async=true;
  s1.src='https://embed.tawk.to/65530eabcec6a912820f9889/1hf672jd6';
  s1.charset='UTF-8';
  s1.setAttribute('crossorigin','*');
  s0.parentNode.insertBefore(s1,s0);
  })();
  </script>
  
  <style>
    .btn-custom-wizard-purple{
      background-color: #57418A;
    }
    .bg-custom-wizard-gold{
      background-color: #FCC926;
    }
    .bg-custom-wizard-beard{
      background-color: rgb(210, 210, 255);
    }
    .bg-custom-wizard-beard-dark{
      background-color: rgb(145, 145, 194);
    }
  </style>

  <!--End of Tawk.to Script-->

  </body>